<div>
  <h2><strong>{{ solicitation.ref }}</strong></h2>
  <p><strong>Título: </strong>{{ solicitation.title }}</p>
  <p><strong>Tipo de Serviço: </strong>{{ solicitation.service_name }}</p>
  <p><strong>Tipo de SubServiço: </strong>{{ solicitation.servicesubcategory_name }}</p>
  <p><strong>Descrição: </strong>{{ solicitation.description }}</p>
  <p><strong>Data de Abertura: </strong>{{ solicitation.start_date }}</p>
  <p><strong>Status do Chamado: </strong>{{ solicitation.status }}</p>

  <h4><strong><ion-icon name="ios-chatbubbles-outline"></ion-icon> Comentários</strong></h4>

  <comments [solicitation]="solicitation"></comments>
</div>