<ion-header>

  <ion-navbar>
    <ion-title>Atribuir Chamado</ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Selecione um departamento e o operador para atribuir o chamado:</p>

  <form [formGroup]="attrForm" (ngSubmit)="onSubmit(); $event.preventDefault()">
    <ion-item>
      <ion-label color="primary" stacked>Departamentos</ion-label>
      <ion-select (ionChange)="onSelectChange($event)" formControlName="selected_departament">
        <ion-option *ngFor="let departament of departaments" [value]="departament._id">
          {{ departament.name }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label color="primary" stacked>Operadores</ion-label>
        <ion-select formControlName="selected_operator">
          <ion-option *ngFor="let operator of operators" [value]="operator.id">
            {{ operator.friendlyname }}
          </ion-option>
        </ion-select>
      </ion-item>

      <button ion-button full type="submit" [disabled]="attrForm.invalid">Atribuir Chamado</button>
  </form>
</ion-content>
