<ion-header>

  <ion-navbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p><strong>Nome: </strong>{{ user ? user.name : '' }}</p>
  <p><strong>Usuário: </strong>{{ user ? user.auth_user : '' }}</p>
  <p><strong>Nome do Órgão: </strong>{{ user ? user.org_name : '' }}</p>
  <p><strong>Função: </strong>{{ user ? user._function : '' }}</p>
  <p><strong>Telefone: </strong>{{ user ? user.phone : "Não Cadastrado" }}</p>
  <p><strong>Status: </strong>{{ user ? user.status : '' }}</p>
</ion-content>
