all-solicitations {
    .ion-note-right{
        float: right;
    }

    .text-center{
      text-align: center;
    }

    ion-badge {
		position: relative;
		top: -0.2rem;
		right: -0.2rem;
        opacity: 0.9;
        border-radius: 100%;
    }
}
