<h4><strong><ion-icon name="ios-images-outline"></ion-icon> Imagens Anexadas</strong></h4>
  <ion-list>
    <div *ngFor="let attachment of attachments">
      <ion-item *ngIf="attachment.mimeType === '.jpg' || attachment.mimeType === '.png'" (click)="openDocument(attachment)">
        <img [src]="'data:image/png;base64,'+ attachment.image" width="100%" *ngIf="attachment.mimeType === '.png'" />
        <img [src]="'data:image/jpg;base64,'+ attachment.image" width="100%" height="50%" *ngIf="attachment.mimeType === '.jpg'" />
      </ion-item>
    </div>
    <p *ngIf="attachments.length === 0">Nenhuma imagem anexada para esta solicitação!</p>
  </ion-list>

  <h4><strong><ion-icon name="ios-document-outline"></ion-icon> Documentos Anexados</strong></h4>
  <ion-list>
    <div *ngFor="let attachment of attachments">
      <ion-item *ngIf="attachment.mimeType != '.jpg' && attachment.mimeType != '.png'" (click)="openDocument(attachment)">
        <p>{{ attachment.filename }}</p>
      </ion-item>
    </div>
    <p >Não há Documentos para esta solicitação!</p>
  </ion-list>