page-home {
  .ion-note-right{
      float: right;
  }

  .text-center{
    text-align: center;
  }

      // POP-IN (FLOAT ACTION BUTTON EFFECT) -------------
  .pop-in {
    animation: pop-in 0.65s;
  }
 
  @keyframes pop-in {
    0% {
      transform: scale(0);
    }
    45% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
 
  // POP-OUT (FLOAT ACTION BUTTON EFFECT) -------------
  .pop-out {
    animation: pop-out 2.5s forwards;
  }
 
  @keyframes pop-out {
    0% {
      transform: scale(1);
    }
    15% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }

  .tabs{
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
