<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <ion-title *ngIf="!showSearchBar">
      CAS Prodater
    </ion-title>
    <ion-searchbar
        placeholder="Buscar Solicitação" *ngIf="showSearchBar" showCancelButton
        [(ngModel)]="searchTerm"
        (ionBlur)="checkBlur()"
        (ionInput)="filterItems()"
        (ionChange)="filterItems()">
    </ion-searchbar>
    <ion-buttons end *ngIf="!showSearchBar">
        <button ion-button icon-only (click)="toggleSearchbar()" class="pop-in">
            <ion-icon name="search"></ion-icon>
          </button>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>  
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="view" class="swiper-slide">
        <ion-segment-button value="Novas">
          Novas <ion-badge>{{ new_solicitations.length }}</ion-badge>
        </ion-segment-button>
        <ion-segment-button value="Resolvidas">
          Fechadas <ion-badge>{{ solved_solicitations.length }}</ion-badge>
        </ion-segment-button>
        <ion-segment-button value="Todas">Todas</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="view">
    <!-- List for new solicitations -->
    <ion-list *ngSwitchCase="'Novas'" no-lines (swipe)="swipeEvent($event)" class="tabs">
      <!-- List if NO have showsearchbar -->
      <div *ngIf="!showSearchBar">
        <ion-card *ngFor="let solicitation of new_solicitations" (click)="onDetail(solicitation)">
            <ion-card-header>
              {{ solicitation.ref }}
              <ion-note item-end class="ion-note-right">
                {{ solicitation.status }}
              </ion-note>
            </ion-card-header>
            <ion-card-content>
              {{ solicitation.title }}
            </ion-card-content>
          </ion-card>
      <p *ngIf="new_solicitations.length === 0" class="text-center">Não há solicitações!</p> 
    </div> 
    <!-- END List if NO have showsearchbar -->

    <!-- List if have showsearchbar -->
    <div *ngIf="showSearchBar">
      <p class="text-center">{{ searchArray.length }} resultados para a busca por " {{ searchTerm }} "</p>
      <ion-card *ngFor="let solicitation of searchArray" (click)="onDetail(solicitation)">
          <ion-card-header>
            {{ solicitation.ref }}
            <ion-note item-end class="ion-note-right">
              {{ solicitation.status }}
            </ion-note>
          </ion-card-header>
          <ion-card-content>
            {{ solicitation.title }}
          </ion-card-content>
        </ion-card>
    </div>  
    <!-- END List for showsearchbar -->
    </ion-list>
    <!-- End List for new solicitations -->

    <!-- List for resolved solicitations -->
    <ion-list *ngSwitchCase="'Resolvidas'" no-lines (swipe)="swipeEvent($event)" class="tabs">
      <!-- List if NO have showsearchbar -->
      <div *ngIf="!showSearchBar">
      <ion-card *ngFor="let solicitation of solved_solicitations" (click)="onDetail(solicitation)">
        <ion-card-header>
          {{ solicitation.ref }}
          <ion-note item-end class="ion-note-right">
            {{ solicitation.status }}
          </ion-note>
        </ion-card-header>
        <ion-card-content>
          {{ solicitation.title }}
        </ion-card-content>
      </ion-card>
      <p *ngIf="solved_solicitations.length === 0" class="text-center">Não há solicitações!</p>
      </div>
      <!-- List if have showsearchbar -->
      <div *ngIf="showSearchBar">
          <p class="text-center">{{ searchArray.length }} resultados para a busca por " {{ searchTerm }} "</p>
          <ion-card *ngFor="let solicitation of searchArray" (click)="onDetail(solicitation)">
              <ion-card-header>
                {{ solicitation.ref }}
                <ion-note item-end class="ion-note-right">
                  {{ solicitation.status }}
                </ion-note>
              </ion-card-header>
              <ion-card-content>
                {{ solicitation.title }}
              </ion-card-content>
            </ion-card>
        </div>  
        <!-- END List if have showsearchbar -->
    </ion-list>
    <!-- END List for resolved solicitations -->

    <!-- List for all solicitations -->
      <ion-list *ngSwitchCase="'Todas'" no-lines (swipe)="swipeEvent($event)" class="tabs">
        <div *ngIf="!showSearchBar">
          <all-solicitations></all-solicitations>
        </div>
      </ion-list>
      <!-- End List for new solicitations -->
  </div>

  <ion-fab right bottom>
    <button ion-fab color="dark" (click)="onAddSolicitation()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>