page-signin {
    
     .login-content {
       background: #1f4981;
    
       .logo-row {
         padding-top: 50px;
         padding-bottom: 20px;
       }
    
       .login-box {
         background: #2196F3;
         padding: 20px 20px 0px 20px;
         margin-top: 30px;
       }
    
       ion-row {
          align-items: center;
          text-align: center;
        }
        
        .icon-login{
            padding-left: 15px !important;
            margin-right: 0;
        }
    
        ion-item {
            border-radius: 5px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
    
        .signup-col {
          margin: 0px 16px 0px 16px;
          padding-bottom: 20px;
        }
    
        .item-inner {
          border-bottom-color: #ffffff !important;
          box-shadow: none !important;
        }
     }

     a {
       text-decoration: none;
       color: white;
     }
    
   }