page-forgotpassword {

    ion-grid {
        height: 100%;
        justify-content: center;
    }    

    .scroll-content {
        background-color: #2e5c87;
    }

    h1, p {
        color: white;
    }

    ion-input {
        border: 1px solid #204d75;
        background-color: white;
    }
}
