<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recuperar Senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col col-12>
        <h1>Esqueceu a senha?</h1>
        <p>CAS - PRODATER pode enviar um e-mail em que você vai encontrar instruções para seguir para redefinir sua conta.</p>
      </ion-col>
      <ion-col col-12>
        <ion-input placeholder="Usuario" #authuser></ion-input>        
      </ion-col>
      <ion-col col-12>        
        <button ion-button block (click)="forgot()">Enviar</button>
      </ion-col>   
    </ion-row>
  </ion-grid>
  
</ion-content>
