<ion-header>
    <ion-toolbar>
      <ion-title>
        Comentários
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <comments [solicitation]="solicitation"></comments>
  </ion-content>

  <ion-footer>
      <form [formGroup]="form" (ngSubmit)="onSubmit(); $event.preventDefault()">
        <ion-row>
          <ion-item>
            <ion-textarea placeholder="Comentário" formControlName="comment"></ion-textarea> 

            <button ion-button type="submit" item-end icon-only [disabled]="form.invalid">
              <ion-icon ios="ios-send" md="md-send"></ion-icon>
            </button>
          </ion-item>
        </ion-row>
      </form>
  </ion-footer>