<div>
  <ion-list>
    <ion-item *ngFor="let comment of comments" text-wrap>
      <strong><p>{{ comment.time }}</p></strong>
        <p>{{ comment.comment }}</p>
    </ion-item>
    <p *ngIf="comments.length === 0" style="text-align: center;">Não há mensagens para esta solicitação!</p> 
  </ion-list>
</div>