<ion-header>

  <ion-navbar color="primary">
    <ion-title>Solicitação</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="view" class="swiper-slide">
        <ion-segment-button value="Solicitacao">Solicitação</ion-segment-button>
        <ion-segment-button value="Anexos">Anexos</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div [ngSwitch]="view">
    <detail-solicitation 
      *ngSwitchCase="'Solicitacao'" 
      no-lines (swipe)="swipeEvent($event)" 
      class="tabs"
      [solicitation]="solicitation"></detail-solicitation>
    <attachments 
      *ngSwitchCase="'Anexos'" 
      no-lines 
      (swipe)="swipeEvent($event)" 
      class="tabs"
      [solicitation]="solicitation"></attachments>
  </div>
  
  <ion-fab right bottom>
    <button ion-fab (click)="openCommentModal()">
      <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
